*{
  margin: 0;
  padding: 0;
  

}
.navs {
  font-family: dancing script;
  font-weight: 600;
  font-size: 50px;
  
  color: white;
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  
}
#logo{
  padding-right: 150px;
}
#btn {
  background: transparent;
  color: white;
  border: none;
  font-weight: 400;
  font-size: 18px;
  margin: 10px 40px;
  margin-bottom: 10px;
  
  
}
#btn a {
  color: white;
  text-decoration: none;
}

#btn a:hover{
  color: green;
}
#btn:hover {
 color: green;
}
#navimg{
  background-color: antiquewhite;
}
#order{
  background-color: greenyellow;
  padding: 10px 22px;
  font-weight: 600;
  border-radius: 17px;
  border: none;
  margin-bottom: 60px;
  margin-left: 150px;
  
}
#order a{
  text-decoration: none;
}
#order:hover{
  background-color: rgb(61, 171, 61);
  color: #ffffff;
}
#foodf1{
  border: none;

}
.fastfood {
   position: relative;
}
#foodtext{
  position: absolute;
  top: 30%;
  left: 10%;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}
#foodtext h1{
  font-family: dancing script ;
  font-size: 60px;
  font-weight: 600;
  padding-bottom: 50px;
}
#foodtext p {
  font-size: 20px;
}
#foodtextt{
  position: absolute;
  top: 1%;
  left: 10%;
  color: #fff;
  padding: 20px;
  font-weight: 600;

}
#orderr{
  background-color: greenyellow;
  
  border-radius: 25px;
  border: none;
  margin-top: 50px;
  font-size: 25px;
  padding: 10px 30px;
}
#orderr:hover{
  color: #ffffff;
  background-color:rgb(100, 143, 37) ;
}
.container{
  position: relative;
  height: 600px;
  background: teal;
  margin-bottom: 1%;
  margin-top: -1%;
}
#first{
  position: absolute;
  height: 200px;
  width:40%;
  top: 30%;
  left: 4%;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  display: flex;
  background-color:  #222831;
}
#second{
  position: absolute;
  height: 200px;
  width:40%;
  top: 30%;
  left: 53%;
  border-radius: 10px;
  color: #fff;
  display: flex;
  padding: 20px;
  background-color: #222831;
}
#first img{
 border-radius: 50%;
border: solid 6px green;

}
#first img:hover{
  top: 2%;
  height: 200px;
  width: 45%;
 
}

#second img:hover{
  top: 2%;
  height: 200px;
  width: 45%;
 
}
#second img{
  border-radius: 50%;
  border: solid 6px green;
 }
 #first h1{
  font-family: dancing script ;

 }
 #second h1 {
  font-family: dancing script;
 }
 #btno{
  height: 40px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 600;
  text-align: center;
  border-radius: 22px;
  background-color: green;
  border: none;
 }
 #btno:hover{
  color:#ffffff;
  background-color:rgb(100, 143, 37);
 }
 
 .ourmenu h1 {
  font-family: dancing script;
  text-align: center;
  text-decoration: underline;
  font-size: 50px;
  margin-bottom: 30px;
 }
 #burger{
  height: 550px;
  background: linear-gradient(teal,purple );
  position: relative;
 }
 #burger1{
  position: absolute;
  height: 400px;
  width:20%;
  top: 10%;
  left: 4%;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  display: flex;
  background-color:  #222831;
}
#burger11{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-color: #fff;
}
#burger11 img 
{
  margin-left: 35px;
  margin-top: 10px;
  border-radius: 50%;
}

#burger11 p{
  font-weight: 900;
  padding-top: 20px;
}
#burger11 button{
  margin-left: 120px;
  padding: 8px 35px;
  border-radius: 20px;
  border: none;
  margin-top: 30px;
  background-color: goldenrod;
} 
#burger11 button:hover{
  color: #ffffff;
 background-color:rgb(100, 143, 37);
}
#burger11 h2{
  font-weight: 700;
}
#burger22 p{
  font-weight: 900;
  padding-top: 20px;
}
#burger22 button{
  margin-left: 120px;
  padding: 8px 35px;
  border-radius: 20px;
  border: none;
  margin-top: 30px;
  background-color: goldenrod;
} 
#burger22 button:hover{
  color: #ffffff;
 background-color:rgb(100, 143, 37);
}
#burger22 h1{
  margin-top: 30px;
}
#burger22 h2{
  font-weight: 700;
}
#burger22{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  background-color: #fff;
}
#burger22 img 
{
  margin-left: 35px;
  margin-top: 27px;
  border-radius: 50%;

}
#burger33{
  width: 100%;
  height: 50%;
  border-radius: 10px;
  background-color: #fff;
}
#burger33 img 
{
  margin-left: 55px;
  margin-top: 10px;
  border-radius: 50%;
}


#burger2{
  position: absolute;
  height: 400px;
  width:20%;
  top: 10%;
  left: 39%;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  display: flex;
  background-color:  #222831;
}
#burger3{
  position: absolute;
  height: 400px;
  width:20%;
  top: 10%;
  left: 73%;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  display: flex;
  background-color:  #222831;
}
#burger33 p{
  font-weight: 900;
  padding-top: 20px;
}
#burger33 button{
  margin-left: 120px;
  padding: 8px 35px;
  border-radius: 20px;
  border: none;
  margin-top: 30px;
  background-color: goldenrod;
} 
#burger33 button:hover{
  color: #ffffff;
 background-color:rgb(100, 143, 37);
}
#burger33 h2{
  font-weight: 700;
}
#burger33 h1 {
  margin-top:30px ;
}



#pizza{
  height: 550px;
  margin-top: 35%;
  background: linear-gradient(teal,purple );
  position: relative;
}
#burger4{
  position: absolute;
  height: 400px;
  width:20%;
  top: 10%;
  left: 4%;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  display: flex;
  background-color:  #222831;
}
#burger44{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-color: #fff;
}
#burger44 img 
{
  margin-left: 20px;
  margin-top: 30px;
  border-radius: 50%;
  height:150px;
}
#burger44 h1 {
  margin-top:30px ;
}

#burger44 p{
  font-weight: 900;
  padding-top: 20px;
}
#burger44 button{
  margin-left: 120px;
  padding: 8px 35px;
  border-radius: 20px;
  border: none;
  margin-top: 30px;
  background-color: goldenrod;
} 
#burger44 button:hover{
  color: #ffffff;
 background-color:rgb(100, 143, 37);
}
#burger44 h2{
  font-weight: 700;
  
}
#roti{
  height: 550px;
  margin-top: 0%;
  background: linear-gradient(teal,purple );
  position: relative;
}
#viewmore{
  margin-left: 48%;
  padding: 10px 30px;
  background-color: rgb(70, 120, 0);
  border-radius: 20px;
  border: none;
  font-weight: 900;
  margin-bottom: 40px;
}

#viewmore:hover{
  color: #ffffff;
  background-color:rgb(100, 143, 37);
  
}
#view{
  background-color: purple;
}
 
#container2{
  height: 750px;
  background-color:  #222831;
  position: relative;
  display: flex;
}
#box1 img{
  margin-top: 100px;
  margin-left:200px ;
}
#box2 h1 {
  margin-top: 300px;
  margin-left: 30px;
  color: #ffffff;
  height: 40px;
  font-family: dancing script;
  font-weight: 800;
}
#box2 p{
  margin-left:30px ;
  margin-top: 20px;
  color: #ffffff;
  font-weight: 700;
}

#box2 button{
  margin-top: 20px;
  margin-left: 70px;
  padding: 15px 30px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  background-color: rgb(70, 120, 0);

}

#box2 button:hover{
  background-color:rgb(100, 143, 37);
  color: #ffffff;
}

#container3{
  height: 600px;
  background-color:#ffffff;
  position: relative;
  display: flex;
}
#box3 h1{
  font-family: dancing script;
  margin-top: 80px;
  margin-left: 120px;
  height: 80px;
  font-weight: 900;
}
#box3 p{
  margin-left: 120px;
  
}
#box3 input{
  width: 500px;
  height: 35px;
  margin: 5px 5px;
  font-weight: 500;
  color: black;
}

#box3 button{
  margin-top: 20px;
  margin-left: 300px;
  padding: 15px 35px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  background-color:yellowgreen;

}
#box3 button:hover{
  background-color:rgb(100, 143, 37);
  color: #ffffff;
}
#box4 img{
  margin-top: -40px;
  margin-left: -10px;
  border-radius: 20px;
}

#container4{
  height: 500px;
  background-color:  #222831;
  position: relative;
  display: flex;
  margin-top: 30px;
  width: 100%;
}
#box4{
  height: 300px;
  width: 300px;
 
  margin-left: 200px;
  margin-top: 170px;
}
#box4 h1{
  text-align: center;
  color: #ffffff;
  font-family: dancing script;
  margin-top: 10px;
  text-decoration: underline;
}

#box4 h3{
  font-family: poppins;
  text-align: center;
  margin: 10px 10px;
  color: #ffffff;
  font-weight: 600;
}
#box4 h3:hover{
  color:goldenrod
}
#box5{
  height: 300px;
  width: 300px;
 
  margin-left: 200px;
  margin-top: 170px;
}
#box5 img{
  height: 200px;
  margin-left: 50px;
  
}

#box5 h1{
  text-align: center;
  color: #ffffff;
  font-family: dancing script;
  margin-top: 10px;
  text-decoration: underline;
}

#box5 h3{
  font-family: poppins;
  text-align: center;
  margin: 10px 10px;
  color: #ffffff;
  font-weight: 600;
}

#box6{
  height: 300px;
  width: 300px;
 
  margin-left: 200px;
  margin-top: 170px;
}


#box6 h1{
  text-align: center;
  color: #ffffff;
  font-family: dancing script;
  margin-top: 10px;
  text-decoration: underline;
}

#box6 h3{
  font-family: poppins;
  text-align: center;
  margin: 10px 10px;
  color: #ffffff;
  font-weight: 600;
}
